<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parentFragment(~{::#content}, ~{::title}, ~{})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+ ' | SCM'">Dashboard Page</title>
  </head>
  <body>
    <div id="content">
      <!-- Sidebar if user logged in  -->
      <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar::sidebar}"></div>
      </div>

      <!-- Main content -->
      <div class="sm:pl-64 pt-20" style="height: 1000px">
        <div class="flex justify-center flex-col items-center">
          <h1 class="text-5xl">Welcome to Dashboard page</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
            ipsum.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>

