<html lang="en" th:fragment="parentElement" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
  </head>
  <body>
    <div class="container text-2xl bg-red-300">
      <h1 data-th-text="${name}">Hi there i am in home</h1>
      <p data-th-text="${YT}">
        anqsiuw dsbwdub dbqwdib d bdhb dnwdjwqnfdi dqbwhdbwqhjd j qvsgv
        dbqwdhbqw dnqwjdb qwbdqbmn wd hqbd wq dhbqwdwq djbd mnqw djbq d qwjdbq
        dbqwhdb sm ksnqwdfnekf ndjhwbc d ejfn nfbwef
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  </body>
</html>
